setuptools
wheel
flask
google-api-python-client
textblob
numpy==1.26.4
scipy==1.11.4
pandas==2.1.4
nltk
flask-cors
flask-socketio
scikit-learn==1.2.1
google-generativeai
eventlet
gunicorn
python-dotenv
requests
pusher
